<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pig Latin Translations</title>
</head>
<body><div class = "wrapper">


    <h1 color =  green >Mama Greene (Marcia Greene) Pig Latin Translation</h1>
    <h2>Untranslated text:</h2>
    <p>{{ untranslated }}</p>

    <h2>PIG LATIN TRANSLATION:</h2>
    <p>{{ translated }}</p>

    
    </div>      
    <a href="{% url 'index'%}">
        <button> New Translation </button>
    </a>
</body>
</html>