<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% extends "learning_logs/base.html" %}

        {% block content %}
        <h2>
            Welcome to the Topics Page
        </h2>
        <h2>Topics:</h2>

        <ul>
            {% for topic in topics %}
                <li>
                   <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a> 
                </li>
                {% empty %}
                <li>No Topics Have been added yet</li>
                {% endfor %}
        </ul>
        <a href="{% url 'learning_logs:new_topic' %}">Add new Topic </a> 
        {% endblock content %}
</body>
</html>